# Generated objects / executables
Build/

# Visual Studio files
.vs/
*.sln
*.vcxproj*
*.VC*db

# gmake
Makefile

# Codelite files
*.workspace
*.project
.codelite/

# Test project
premake5_testproject.lua
TestProject/